/*Sort the properties in alphanumeric order*/

/****************************************TAG SELECTORS****************************************/
body {
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
}

/* h1 {
  color: #43a1a1;
}

h3 {
  color: #4fb6b6;
}

hr {
  border-color: #939d9e;
  border-style: none;
  border-top-style: solid;
  width: 10%;
} */

/****************************************CLASS SELECTORS****************************************/
.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}

.bottom-container {
  background-color: #2c15d7;
  width: 200px;
  height: 200px;
}

.middle-container {
  background-color: #cc330d;
  width: 200px;
  height: 200px;
}

.sun {
  position: absolute;
  top: 5px;
  right: 430px;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 60px;
}

.top-container {
  background-color: #dfe8cc;
  position: relative;
  padding-top: 120px;
  text-align: center;
}

/****************************************ID SELECTORS****************************************/

/* #name-US {
  font-family: cursive;
}

#name-TW {
  font-family: Simsun;
} */
