/*Sort the properties in alphanumeric order*/

/**********TAG SELECTORS**********/
/* body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  line-height: 1.5;
} */

/* p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
} */

/* a {
  color: #11999E;
  font-family: 'Noto Sans Display', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #747D7D;
}

body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5rem; //16px = 100% = 1em
  margin: 1rem auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  margin: 1rem auto;
}

h3 {
  color: #11999E;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 1.5rem;
  margin: 1rem auto;
}

hr {
  border: dotted #9AA3A3;
  border-bottom: none;
  margin: 100px auto;
  width: 5%;
}

p {
  line-height: 2;
}

h1 {
  color: #43a1a1;
}

h3 {
  color: #4fb6b6;
}

hr {
  border-color: #939d9e;
  border-style: none;
  border-top-style: solid;
  width: 10%;
} */

/**********CLASS SELECTORS**********/
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.profile-picture {
  width: 90%;
}

.text-justify {
  text-align: justify;
}

/**********ID SELECTORS**********/
#navigation {
  background-color: #DFE8CC;
}

#introduction {
  background-color: #66BFBF;
}

#footer {
  background-color: #DFE8CC;
}

/**********Media Queries**********/
@media (min-width: 0px) {
  .container-fluid {
    padding: 0 5%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container-fluid {
    padding: 0 7%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container-fluid {
    padding: 0 10%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-fluid {
    padding: 0 15%;
  }

  .profile-picture {
    width: 80%;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {

} */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {

} */
